.activity {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--secondary-colour) solid 2px;
    border-radius: 8px;
    width: 250px;
    height: 225px;
}

.activity-date {
    color: var(--light-gray);
}

.activity-type {
    text-transform: capitalize;
    color: var(--secondary-colour);
}

.activity-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    gap: 8px;
}

.activity-timer {
    height: 24px;
}