.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px;
    background-image: linear-gradient(to right, var(--secondary-colour), var(--tertiary-colour));
}

.header-button{
    width: 90px;
    height: 32px;
    border-radius: 8px;
    border: transparent;
    background-color: var(--secondary-colour);
    font-weight: bold;
    color: white;
}