.user-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    padding: 16px;
    border: 4px solid var(--secondary-colour);
    border-radius: 8px;
    background-color: white;
}

.user-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.user-form-bloc {
    display: flex;
    flex-direction: column;
    min-width: 80px;
}

.user-form-bloc label{
    font-size: 14px;
    color: #878787;
}

.user-form-bloc input {
    border: none;
    border-bottom: 1px solid var(--light-gray);
    height: 24px;
}

.user-form form input[type="submit"]{
    width: 90px;
    height: 32px;
    margin: auto;
    border-radius: 8px;
    border: 2px white;
    background-color: var(--secondary-colour);
    color: white;
    font-weight: bold;
}

button.user-form-swapper {
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.user-form-mini {
    max-width: 100px;
    position: absolute;
    top: 50px;
    right: 16px;
    z-index: 1;
    border: 4px solid var(--secondary-colour);
}

.user-form-mini h1 {
    font-size: 18px;
}

.user-form-mini .user-form-bloc {
    width: 40px;
}

.user-form-mini form {
    margin-top: 0;
}

.user-form-close {
    cursor: pointer;
    position: absolute;
    left: 104px;
    top: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light-gray);
}