html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    --primary-colour: #20368F;
    --secondary-colour: #33AECC;
    --tertiary-colour: #33CC51;
    --background-colour: #ffffff;
    --light-gray: #878787;
    --contrast: #CC5133;
}

h1 {
    margin: 0;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    cursor: pointer;
}

button {
    cursor: pointer;
}